# Python的日期和时间处理

## datetime模块

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
print(now)
print(type(now))

2018-03-20 22:40:39.028682
<class 'datetime.datetime'>

In [3]:
print('年: {}, 月: {}, 日: {}'.format(now.year, now.month, now.day))

年: 2018, 月: 3, 日: 20

In [7]:
diff = datetime(2018, 3, 25, 17) - datetime(2018, 3, 3, 15)
print(type(diff))
print(diff)
print('经历了{}天, {}秒。'.format(diff.days, diff.seconds))

<class 'datetime.timedelta'>
22 days, 2:00:00
经历了22天, 7200秒。

## 字符串和datetime转换

### datetime -> str

In [8]:
# str()
dt_obj = datetime(2018, 3, 25)
str_obj = str(dt_obj)
print(type(str_obj))
print(str_obj)

<class 'str'>
2018-03-25 00:00:00

In [9]:
# datetime.strftime()
str_obj2 = dt_obj.strftime('%d/%m/%Y')
print(str_obj2)

25/03/2018

### str -> datetime

In [10]:
# strptime
dt_str = '2017-02-18'
dt_obj2 = datetime.strptime(dt_str, '%Y-%m-%d')
print(type(dt_obj2))
print(dt_obj2)

<class 'datetime.datetime'>
2017-02-18 00:00:00

In [11]:
# dateutil.parser.parse
from dateutil.parser import parse
dt_str2 = '18-02-2017'
dt_obj3 = parse(dt_str2)
print(type(dt_obj3))
print(dt_obj3)

<class 'datetime.datetime'>
2017-02-18 00:00:00

In [13]:
# pd.to_datetime
import pandas as pd
s_obj = pd.Series(['2018/03/03', '2018/03/04', '2018/03/10', '2018/03/11', '2018/03/17', '2018/03/18'], name='course_time')
print(s_obj)

0    2018/03/03
1    2018/03/04
2    2018/03/10
3    2018/03/11
4    2018/03/17
5    2018/03/18
Name: course_time, dtype: object

In [14]:
s_obj2 = pd.to_datetime(s_obj)
print(s_obj2)

0   2018-03-03
1   2018-03-04
2   2018-03-10
3   2018-03-11
4   2018-03-17
5   2018-03-18
Name: course_time, dtype: datetime64[ns]

In [15]:
# 处理缺失值
s_obj3 = pd.Series(['2018/03/03', '2018/03/04', '2018/03/10', '2018/03/11', '2018/03/17', '2018/03/18'] + [None], 
                   name='course_time')
print(s_obj3)

0    2018/03/03
1    2018/03/04
2    2018/03/10
3    2018/03/11
4    2018/03/17
5    2018/03/18
6          None
Name: course_time, dtype: object

In [16]:
s_obj4 = pd.to_datetime(s_obj3)
print(s_obj4) # NAT-> Not a Time

0   2018-03-03
1   2018-03-04
2   2018-03-10
3   2018-03-11
4   2018-03-17
5   2018-03-18
6          NaT
Name: course_time, dtype: datetime64[ns]